/* based style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.container{
    width: 80%;
    margin: auto;
}

.unstyle_list{
    list-style: none;
}

/* header style */
.logo{
    width: 100%;
}
img{
    height: 50px;
}

.navbar{
    width: 100%;
     display: inline-block;
}

ul.unstyle_list li {
    display: inline-block;
    margin: 20px 5px 10px 0;
}

ul.unstyle_list > li > a{
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
}

/* presentation style */
.presentation{
    height: 300px;
    width: 100%;
    background-color: orchid;
    margin-top: 20px;
    border-radius: 10px;
}

/* main style */

/* main header style */
.title{
    height: 50px;
    width: 100%;
    background-color: green;

}

/* section style */
.sb_left, .sb_right{
    height: 200px;
    width: 25%;
    float: left;
    background-color: gold;
    border-radius: 10px;
}

.content{
    height: 200px;
    width: 50%;
    background-color: purple;
    float: left;
    border-radius: 10px;
}