/* based style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.container{
    width: 80%;
    margin: auto;
}

.unstyle_list{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* header style */
.logo{
    width: 100%;
}
#logo_img{
    height: 50px;
}

.navbar{
    width: 100%;
     display: inline-block;
}

ul.unstyle_list li {
    display: inline-block;
    margin: 20px 5px 10px 0;
}

ul.unstyle_list > li > a{
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
}

/* Banner style */
.presentation{
    position: relative;
    padding: 5% 5%;
    color: white;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(203, 188, 182, 1);
    margin-top: 20px;
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
}

.layover{
    height: 100%;
    width: 100%;
    color: black;    
}

.banner_text{
    position: absolute;
    bottom: 50px;
}

.banner_text > h2{
    font-size: 40px;
}

.banner_text > span{
    font-size: 25px;
}


/* main style */

/* main header style */
.title{
    width: 100%;
    margin: 25px 0;
}

.title span{
    color: lightgray;
}

/* section style */
.sb_left, .sb_right{
    width: 25%;
    float: left;
    border-radius: 10px;
}

.side_img{
    height: 300px;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    background-color:rgb(204, 182, 169);
    border-radius: 10px;
}

.section_title{
    margin: 10px 0;
}

.content{
    width: 45%;
    float: left;
    border-radius: 10px;
    margin: 0 2.5%;
}

.central_img{
    height: 300px;
    background-image: url(../img/banner-2.jpg);
    border-radius: 10px;
    background-position: center;
}

.sb_right .side_img{
    background-image: url(../img/img-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* footer style */

.site_footer{
    margin-top: 20px;
    text-align: center;
}

.site_footer > p > span{
    color: red;
}